<ion-view style="" title="Import Albums">
            <ion-content style="" class="has-header" padding="true">
                <form name="importForm" style="">
                    CSV Data à importer</br>
                    <label style="" name="albumToImport" class="item item-input">
                        <textarea placeholder="csv data to import" ng-model="data.csvData"></textarea>
                    </label>
                    <ion-button class="button button-full button-positive" ng-click="importCSVData()">
                          Importer
                    </ion-button>
                    <div ng-if="progressData.percentage>0.0" ang:round:progress data-round-progress-model="progressData"
                      data-round-progress-width="500"
                      data-round-progress-height="500"
                      data-round-progress-outer-circle-width="40"
                      data-round-progress-inner-circle-width="10"
                      data-round-progress-outer-circle-radius="200"
                      data-round-progress-inner-circle-radius="140"
                      data-round-progress-label-font="100pt Arial"
                      data-round-progress-outer-circle-background-color="#505769"
                      data-round-progress-outer-circle-foreground-color="#12eeb9"
                      data-round-progress-inner-circle-color="#505769"
                      data-round-progress-label-color="#fff"></div>
                    <!-- <div  ang:round:progress data-round-progress-model="progressData"></div> -->
                </form>
            </ion-content>
</ion-view>
