<ion-view style="" title="Preferences">
            <ion-content style="" class="has-header" padding="true">
                <form name="prefsForm" style="">
                    <!-- <ion-list style=""> -->
                        Url Serveur distant</br>
                        <label style="" name="remoteServerUrl" class="item item-input">
                            <input placeholder="URL server DB" type="text" ng-model="data.url">
                        </label>
                        <!-- autre Serveur distant</br>
                        <label style="" name="altremoteServerUrl" class="item item-input">
                            <input placeholder="autre URL server DB" type="text" ng-model="alturl">
                        </label> -->
                    <!-- </ion-list> -->
                    <ion-button class="button button-full button-positive" ng-click="updateRemoteUrl()">
                          Enregistrer
                    </ion-button>
                </form>
            </ion-content>
</ion-view>
